.uk-list ul.uk-accordion {
    padding-left: 5px;
    margin-top: -20px;
}
.uk-accordion ul.uk-list {
    padding-left: 10px;
}
.buho-subcategorias .uk-accordion-content {
    margin-top: 10px;
}
label.j2store-productfilter-label {
    display: block;
}
 .buho-subcategorias a.uk-accordion-title{
     padding-left: 5px;
 }
 .buho-accordion-filters .uk-accordion-title{
     padding: 8px;
 }
 .buho-subcategorias a.uk-accordion-title,
 .buho-accordion-filters .uk-accordion-title{
     cursor: pointer;
     border-radius: 5px;
     transition: all .2s ease;
 }
 /* .buho-subcategorias a.uk-accordion-title:hover,
 .buho-accordion-filters .uk-accordion-title:hover {
     background: #f8f9fa;
 } */
 .buho-accordion-filters .uk-accordion-content {
     margin-top: 10px;
 }

 button.uk-button.uk-button-text.uk-button-small.uk-animation-fast {
    background: red;
}